/* vbox */
#root {
    width: 100%;
    height: 100%;
    background-color: #252525;
    spacing: 0;
}

#menuBar {
    width: 100%;
    height: 32;
    spacing: 0;
}

#menuBar .label {
    margin-left: 5;
    vertical-align: "center";
}

#menuBar .button {
    width: 50;
    height: 50;
    background: #252525;
    border-color: #252525;
    filter: drop-shadow(1, 45, #000000, 0.2, 0, 0, 0, 3, false);
}

#menuBar .button:hover {
    background: #2e2e2e;
}

#menuBar .button:down {
    background: #202020;
}

#mainContent {
    width: 100%;
    height: 90%;
    border-radius: 10;
    background-color: #313131;
    padding: 35px;
}

#titleBox {
    height: 10%;
}

#optionsBox {
    height: 65%;
}

#confirmationBox {
    height: 25%;
    spacing: 35;
}

#confirmationBox .button {
    padding-right: 50;
    vertical-align: "center";
}