/* vbox */
#root {
    width: 100%;
    height: 100%;
    background-color: #252525;
}

#menuBar {
    width: 100%;
    height: 52;
    margin-top: 5;
    margin-bottom: 5;
    margin-right: 5;
    margin-left: 5;
    spacing: 5;
}

#menuBar .label {
    vertical-align: "center";
}

#menuBar .button {
    /* background-color: none;
    border-color: none; */
    vertical-align: "center";
}

#mainContent {
    width: 100%;
    height: 100%;
    margin-top: 10;
    margin-bottom: 10;
    margin-right: 10;
    margin-left: 10;
    background-color: #4C4C4C;
    padding: 35;
}

/* 
.hbox {
    width: 100%;
    height: 100%;
    background-color: #4C0000;
    padding: 15;
    border-radius: 10;
    border-size: 1;
    border-color: #606060;
}

#titleBox {
    height: 10%;
}

#optionsBox {
    height: 65%;
}

#confirmationBox {
    height: 25%;
    spacing: 35;
}

#confirmationBox .button {
    padding-right: 50;
    vertical-align: "center";
}

.label {
    color: #cccccc;
    font-size: 24px
} */